@import "colors.css";

* {
  font-weight: bold;
  font-size: 16px;
  min-height: 0px;
  }

window#waybar {
    background: transparent;
}

tooltip {
  background: @tip;
  border-radius: 20px;
  border: 1px solid @border;
}

@keyframes blink-update {
  to {
    background-color: @flash;
    color: @contrast;
  }
}

#workspaces {
  margin-top: 10px;
  background: @textdark;
  padding: 5px;
  border-radius: 10px;
}

#workspaces button {
  padding-left: 10px;
  padding-right: 10px;
  margin: 2px;
  color: #ffffff;
  border-radius: 10px;
}

#workspaces button.active {
  background: @accent;
  color: @textdark;
}

#workspaces button:hover {
  color: @contrast;
  background: @border;
}

#taskbar {
  margin-top: 10px;
  background: @accent;
  padding: 5px;
  border-radius: 10px;
}

#taskbar button {
  padding-left: 5px;
  padding-right: 5px;
  margin: 2px;
  color: #ffffff;
  border-radius: 10px;
}

#taskbar button.active {
  background: @border;
  color: @textdark;
}

#taskbar button:hover {
  color: @textdark;
  background: @contrast;
}

#clock{
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 5px;
  padding-right: 5px;
  background: @accent;
  color: @textdark;
  border-radius: 5px;
  transition: none;
}

#custom-power{
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 10px;
  padding-left: 5px;
  padding-right: 5px;
  background: @accent;
  color: @textdark;
  border-radius: 5px;
  transition: none;
}

#custom-menu, #clock, #custom-pacman, #custom-power, #pulseaudio, #network, #cpu, #memory, #battery, #custom-swaync, #custom-cliphist, #tray, #pulseaudio-slider{
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background: @accent;
  color: @textdark;
  border-radius: 10px;
  }


#custom-pacman {
  margin-right: 5px;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#custom-pacman.pending-updates {
  animation-name: blink-update;
  animation-duration: 3s;
}

#custom-menu{
  font-size: 24px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 0px;
}

#pulseaudio {
  border-radius: 10px 0 0 10px;
  padding-right: 5px
  }


#network, #cpu, #memory, #battery, #custom-swaync, #custom-swaync{
  border-radius: 0;
}

#custom-cliphist, #pulseaudio-slider, #custom-swaync {
  border-radius: 10px 0 0 10px;
}

#tray {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 10px;
    padding-right: 10px;
    color: @textdark;
    border-radius: 0 10px 10px 0;
}


#battery {
  padding-right: 15px;
  border-radius: 0 10px 10px 0;
  margin-right: 5px;
}

#custom-spotify {
    margin-top: 10px;
    margin-left: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
    background: @accent;
    color: @textdark;
}


#pulseaudio-slider slider {
  min-height: 0px;
  min-width: 0px;
  opacity: 0;
  background-image: none;
  border: none;
  box-shadow: none;
}

#pulseaudio-slider trough {
min-height: 10px;
min-width: 80px;
border-radius: 5px;
background-color: black;
}

#pulseaudio-slider highlight {
min-width: 10px;
border-radius: 5px;
background-color: @contrast;
}